= render 'shared/account_header'
.box
  %h2 住所情報登録
  = form_for(@address, url: addresses_path, method: "POST") do |f|
    = render "devise/shared/error_messages", resource: @address
    .field
      .field__box
        .field__box__left
          電話番号
          - f.label :phone_humber
          %br/
        .field__box__light
          任意
      = f.text_field :phone_number, placeholder: "09011111111", class: "field__input"
    .field
      .field__box
        .field__box__left
          都道府県
          - f.label :prefecture
          %br/
        .field__box__right
          必須
      = f.collection_select :prefecture_id, Prefecture.all ,:id, :name, class: 'field__input', prompt: '選択してください'
      -# = f.text_field :prefecture_id, placeholder: "例) 埼玉", class: "field__input"
    .field
      .field__box
        .field__box__left
          郵便番号
          - f.label :zipcode
          %br/
        .field__box__right
          必須
      = f.text_field :zipcode, placeholder: "例) 111-1111", class: "field__input"
    .field
      .field__box
        .field__box__left
          市区町村
          - f.label :city
          %br/
        .field__box__right
          必須
      = f.text_field :city, placeholder: "例) 春日部市", class: "field__input"
    .field
      .field__box
        .field__box__left
          番地
          - f.label :address
          %br/
        .field__box__right
          必須
      = f.text_field :address, placeholder: "例) ２−２２−２", class: "field__input"
    .field
      .field__box
        .field__box__left
          建物・マンション
          - f.label :building
          %br/
        .field__box__light
          必須
      = f.text_field :building, placeholder: "例) ライオンズマンション2110", class: "field__input"
    .actions
      = f.submit "登録", class: "actions__input"
= render 'shared/account_footer'