.header
  .header__box
    .header__box__main
      %h1.icon
        %a{:href => "/"}
          %img{:src => "/images/logo.png"}
      .header-search
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get",class:'form'}
          %input{:name => "utf8", :type => "hidden", :value => "✓",class: 'form__input'}/
          %input.header-search-input{:name => "key", :placeholder => "キーワードから探す"}/
          %button{:type => "submit",class: 'submit'}
            .header-search__icon
              %img{:src => "/images/icon-search.png"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "MFdLfFtvpzKoiFo/KJTV2jmpZZrNvP5fqDn7VRwM4P1+h07wG0uDUotK6nQvpYOdWB61GXFUiXDUDjSK/WIGZg=="}/
      %ul.resultLists
    .header-menu
      %ul.header-menu__left
        %li.header-menu__left__categories
          %a#catBtn{:href => "#"} 
            = "カテゴリー"
          %ul.header-menu__left__categories__tree
            %li.header-menu__left__categories__tree__list
              %li
                %a{:href => "#"}
                  - @parents.each do |parent|
                    = render partial: 'shared/header_parent', locals: { parent: parent }
            -# %div.header-menu__left__categories__tree__child
            -#   %li
            -#     %a{:href => "#"}
            -#     - @parents.each do |parent|
            -#       - parent.children.each do |child|
            -#         = render partial: 'shared/header_child', locals: { child: child }
            -# %div.header-menu__left__categories__tree__grandchild
            -#   %li
            -#     %a{:href => "#"}
            -#     - @parents.each do |parent|
            -#       - parent.children.each do |child|
            -#         - child.children.each do |grandchild|
            -#           = render partial: 'shared/header_grandchild', locals: { grandchild: grandchild }

            %ul.categoryTree

        %li.header-menu__brand
          %li.header-menu__brand__box
            %a{:href => "#"} ブランド
            %ul.header-menu__brand__box__list
              %li.header-menu__brand__box__list__name
                %a{:href => "#"} シャネル
              %li
                %a.header-menu__brand__box__list__name{:href => "#"} ナイキ
              %li
                %a.header-menu__brand__box__list__name{:href => "#"} ルイヴィトン
              %li
                %a.header-menu__brand__box__list__name{:href => "#"} シュプリーム
              %li
                %a.header-menu__brand__box__list__name{:href => "#"} アディダス
              %li
                %a.header-menu__brand__box__list__name{:href => "#"} ブランド一覧
      %ul.header-menu__right
        - if user_signed_in?
          = link_to "マイページ", user_path(current_user.id)
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li.header-menu__right-login
            = link_to "ログイン", new_user_session_path
          %li.header-menu__right-new
            = link_to "新規登録", new_user_registration_path


