.body
  .contents
    .contents__header
      .contents__header_text
        商品の情報を入力
    .contents__image
      .contents__image__box
        .contents__image__box__comment
          .contents__image__box__comment__text
            出品画像
          .contents__image__box__comment__caution
            必須
        %p 最大10枚までアップロードできます
        .contents__image__box__area
          = form_for [@product,@image] do |f|
          .contents__image__box__area__mask
            = label :image, class: 'contents__image__box__area__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
          = f.submit 'send', class: 'contents__image__box__area__submit'
            drag&dropをJSで入れる
    
    .contents__product
      .contents__product__area
        .contents__product__area__name
          .contents__product__area__name__text
            商品名
          .contents__product__area__name__caution
            必須
        .contents__product__area__title
          のちにtextarea設定予定..
      .contents__product__area
        .contents__product__area__name
          .contents__product__area__name__text
            商品の説明
          .contents__product__area__name__caution
            必須
        .contents__product__area__title
          のちにtextarea設定予定..
      .contents__product__counter
        JS実装します..

    .contents__detail
      .contents__detail__box
        .contents__detail__box__text
          商品の詳細
        .contents__detail__box__set
          .contents__detail__box__set__box
            .contents__detail__box__set__box__text
              カテゴリー
            .contents__detail__box__set__box__coution
              必須
          .contents__detail__box__set__form
            form用
        .contents__detail__box__set
          .contents__detail__box__set__box
            .contents__detail__box__set__box__text
              ブランド
            .contents__detail__box__set__box__nini
              任意
          .contents__detail__box__set__form
            form用
        .contents__detail__box__set
          .contents__detail__box__set__box
            .contents__detail__box__set__box__text
              商品の状態
            .contents__detail__box__set__box__coution
              必須
          .contents__detail__box__set__form
            form用
      

    .contents__detail
      .contents__detail__box
        .contents__detail__box__question
          .contents__detail__box__question__text
            配送について
          .contents__detail__box__question__icon
            = icon 'far', 'question-circle'
        .contents__detail__box__set
          .contents__detail__box__set__box
            .contents__detail__box__set__box__text
              配送料の負担
            .contents__detail__box__set__box__coution
              必須
          .contents__detail__box__set__form
            form用
        .contents__detail__box__set
          .contents__detail__box__set__box
            .contents__detail__box__set__box__text
              発送元の地域
            .contents__detail__box__set__box__coution
              必須
          .contents__detail__box__set__form
            form用
        .contents__detail__box__set
          .contents__detail__box__set__box
            .contents__detail__box__set__box__text
              発送までの日数
            .contents__detail__box__set__box__coution
              必須
          .contents__detail__box__set__form
            form用
    .contents__price
      .contents__price__text
        .contents__price__text__comment
          価格（¥300〜9,999,999）
        .contents__price__text__icon
          = icon 'far', 'question-circle'

      .contents__price__value
        .contents__price__value__first
          .contents__price__value__first__left
            .contents__price__value__first__left__box
              .contents__price__value__first__left__box__text
                販売価格
              .contents__price__value__first__left__box__coution
                必須
          .contents__price__value__right
            .contents__price__value__right__input
              ¥<input>
        .contents__price__value__second
          .contents__price__value__second__left
            販売手数料（10%）
          .contents__price__value__second__right
            -
        .contents__price__value__third
          .contents__price__value__third__left
            販売利益
          .contents__price__value__third__right
            -
      .contents__price__submit
        .contents__price__submit__box
          .contents__price__submit__box__throw
            出品する
          .contents__price__submit__box__back
            もどる
      %P 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。