.body
  .contents
    = form_for [ @product ] do |f|
      .contents__header
        .contents__header_text
          商品の情報を入力
      .contents__message
        - if flash[:error].present?
          %ul.error_messages
            = "Error : #{flash[:error].count}"
            - flash[:error].each do |e|
              %li
                = e
      .contents__image
        .contents__image__box
          .contents__image__box__comment
            .contents__image__box__comment__text
              出品画像
            .contents__image__box__comment__caution
              必須
          %p 最大10枚までアップロードできます
          .contents__image__box__container
            .contents__image__box__container__drop-box
              #image-box
                #previews
                  - if @product.persisted?
                    - @product.images.each_with_index do |image, i|
                      = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
                = f.fields_for :images do |image|
                  .js-file_group{"data-index" => "#{image.index}"}
                    = image.file_field :image, class: 'js-file'
                    %span.js-remove 削除
                  - if @product.persisted?
                    = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                - if @product.persisted?
                  .js-file_group{"data-index" => "#{@product.images.count}"}
                    = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: 'js-file'
                    %span.js-remove 削除
      .contents__product
        .contents__product__area 
          .contents__product__area__name
            .contents__product__area__name__text
              商品名
            .contents__product__area__name__caution
              必須
          .contents__product__area__form_text_field
            = f.text_field :name, class: 'contents__product__area__form_text_field' ,placeholder: '40文字まで無料'
        .contents__product__area
          .contents__product__area__name
            .contents__product__area__name__text
              商品の説明
            .contents__product__area__name__caution
              必須
          .contents__product__area__form_text_area
            - product_description1 = '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）'
            - product_description2 = '例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
            = f.text_area :content, rows: 7,class: 'contents__product__area__form_text_area', placeholder: text_placeholder(product_description1,product_description2)
      .contents__detail
        .contents__detail__box
          .contents__detail__box__text
            商品の詳細
          .contents__detail__box__set
            .contents__detail__box__set__box
              .contents__detail__box__set__box__text
                カテゴリー
              .contents__detail__box__set__box__coution
                必須
            .contents__detail__box__set__form
              .contents__detail__box__set__form__detail
                = f.select :category_id, @category_parent_array, {}, {class: 'contents__detail__box__set__form__detail__select', id: 'parent_category'}
          .contents__detail__box__set
            .contents__detail__box__set__box
              .contents__detail__box__set__box__text
                ブランド
              .contents__detail__box__set__box__nini
                任意
            .contents__detail__box__set__form
              = f.select :brand_id, @brand_array, {}, {class: 'contents__detail__box__set__form__detail__select'}
          .contents__detail__box__set
            .contents__detail__box__set__box
              .contents__detail__box__set__box__text
                商品の状態
              .contents__detail__box__set__box__coution
                必須
            .contents__detail__box__set__form_select
              = f.collection_select :condition_id, @condition ,:id, :name, {prompt: '選択してください'}, {class: 'contents__detail__box__set__form__detail__select'}

      .contents__detail
        .contents__detail__box
          .contents__detail__box__question
            .contents__detail__box__question__text
              配送について
            .contents__detail__box__question__icon
              = icon 'far', 'question-circle'
          .contents__detail__box__set
            .contents__detail__box__set__box
              .contents__detail__box__set__box__text
                配送料の負担
              .contents__detail__box__set__box__coution
                必須
            .contents__detail__box__set__form
              = f.collection_select :payment_id, @payment ,:id, :name, {prompt: '選択してください'}, {class: 'contents__detail__box__set__form__detail__select'}

          .contents__detail__box__set
            .contents__detail__box__set__box
              .contents__detail__box__set__box__text
                配送方法
              .contents__detail__box__set__box__coution
                必須
            .contents__detail__box__set__form
              = f.collection_select :delivery_method_id, @delivery_method ,:id, :name, {prompt: '選択してください'}, {class: 'contents__detail__box__set__form__detail__select'}
          .contents__detail__box__set
            .contents__detail__box__set__box
              .contents__detail__box__set__box__text
                発送元の地域
              .contents__detail__box__set__box__coution
                必須
            .contents__detail__box__set__form
              = f.collection_select :prefecture_id, @prefecture ,:id, :name, {prompt: '選択してください'}, {class: 'contents__detail__box__set__form__detail__select'}

          .contents__detail__box__set
            .contents__detail__box__set__box
              .contents__detail__box__set__box__text
                発送までの日数
              .contents__detail__box__set__box__coution
                必須
            .contents__detail__box__set__form
              = f.collection_select :delivery_date_id, @delivery_date ,:id, :name, {prompt: '選択してください'}, {class: 'contents__detail__box__set__form__detail__select'}
      .contents__price
        .contents__price__text
          .contents__price__text__icon
            = icon 'far', 'question-circle'
          .contents__price__text__comment
            価格（¥300〜9,999,999）
        .contents__price__value
          .contents__price__value__first
            .contents__price__value__first__left
              .contents__price__value__first__left__box
                .contents__price__value__first__left__box__text
                  販売価格
                .contents__price__value__first__left__box__coution
                  必須
            .contents__price__value__first__right
              = f.number_field :price, min:300, max:9999999,class: "contents__price__value__first__right__input",id: "input_price", style: "text-align:right;"
              円
          .contents__price__value__second
            .contents__price__value__second__left
              販売手数料（10%）
            .contents__price__value__second__right{id: "commision" }
          .contents__price__value__third
            .contents__price__value__third__left
              販売利益
            .contents__price__value__third__right{id: "profit" }
        .contents__price__submit
          .contents__price__submit__throw
            = f.submit '出品する' ,class: 'contents__price__submit__throw__btn'
          .contents__price__submit__back
            = link_to "戻る", root_path, class: 'btn contents__price__submit__back__btn'

        %P 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。