.product_container
  %h1.product_name
    = @product.name
  .product_content
    .product_content__photo
      .product_content__photo__mainImage
        = image_tag @product.images[0].image.url
      .product_content__photo__subImage
        .product_content__photo__subImage__thumb
          -# - @product.images.each do |image|
          -#   = image_tag image.image.url
    %table.product_content__detail-table
      %tbody
        %tr
          %th出品者
          %td
            = @product.user.nickname
        %tr
          %thカテゴリ
          %td
            = @product.category.name
        %tr
          %thブランド
          %td
            = @product.brand.name
        %tr
          %th商品の状態
          %td
            = @product.status
        %tr
          %th配送料の負担
          %td
            = @product.payment      
        %tr
          %th配送の方法
          %td
            = @product.delivery_method
        %tr
          %th配送元地域
          %td
            = @product.delivery_date
        %tr
          %th発送日の目安
          %td
            
  .product_price
    %span.product_price__bold
      = @product.price
    %span.product_price__tax (税込)
    %span.product_price__delivery送料込み
  -# - if user_signed_in? && current_user.id == @product.user_id
  -#   .product_editbox
  -#     .product_editbox_edit
  -#       = link_to = link_to "編集する", '', class: 'buy-btn'
  -#     .product_editbox_delete
  -#       = link_to "削除する", '', class: 'buy-btn', method: :delete
  -# - else
    .product_buy
      = link_to "購入画面に進む","/purchase/#{@product.id}", class: 'buy-btn'

  %p.product_describe
    = simple_format(@product.content)

.product_comment
  .comment_form
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea.comment_form__input
    .comment_form__submit-btn
      = link_to "コメントする", '', class: 'comment-submit'

%ul.link_prev-next
  %li.link_prev
    =link_to '' do
      = icon('fas', 'chevron-left', class: 'icon-prev')
      前の商品へ
  %li.link_next
    =link_to '' do
      後ろの商品へ  
      = icon('fas', 'chevron-right', class: 'icon-next')

.sns_container
  %ul.share_sns_items
    %li
      = link_to '' do
        = icon('fab', 'facebook-square', class: 'icon-facebook')
    %li
      = link_to '' do
        = icon('fab', 'twitter-square', class: 'icon-twitter')
    %li
      = link_to '' do
        = icon('fab', 'line', class: 'icon-line')
    %li
      = link_to '' do
        = icon('fab', 'pinterest-square', class: 'icon-pinterest')

.products_similar
  .products_of_user
    .products_of_user__title
      = link_to "コロナウイルスさんのその他の出品", ''
    .products_of_user__contents
      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2

      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2

      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2

      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2

  .products_of_category
    .products_of_category__title
      = link_to "このカテゴリーのその他の商品", ''
    .products_of_category__contents
      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2

      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2

      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2

      .product_box
        = link_to '' do
          .product_box__photo
            = image_tag src="/images/sample04.png"
          .product_box__profile
            .product_box__profile__nameいらすとや
            .product_box__profile__num
              .product_box__profile__num--price¥1000
              .product_box__profile__num--fav
                = icon('fa', 'heart', class: 'icon-fav')
                2
  .nav-bottom
    %ul
      %li
        = link_to 'メルカリ', ''
        = icon('fas', 'chevron-right')
      %li
        = link_to 'いらすとや', ''

