.mypage__body
  = render "shared/header"

  %nav
    %ul
      %li.mercari
        = link_to "root_path" do
          FURIMA
          %i.fas.fa-chevron-right
      %li
        %p マイページ

  .mypage__main
    .mypage__main__right
      .mypage__main__right__top
        %h1 支払い方法
      .mypage__main__right__bottom
        %p1 クレジットカード一覧
        %ul.mypage__main__right__bottom__card
          %li
            %form.l-single-content{:action => "https://www.mercari.com/jp/mypage/card/delete/", :method => "POST"}
              %figure
                %img{:alt => "visa", :height => "15", :src => "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?807465640", :width => "49"}/
                .card__payment__list
                  %form.card__payment__content
                  .card__list
                    .card__list__picture  
                  .card__number 
                    = "**** **** **** " + @default_card_information.last4
                  .expire__date 
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
          = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
            %input{ type: "hidden", name: "card_id", value: "" }
              .card__delete__button
                %button.delete__button 削除する
                
        .mypage__main__right__bottom__border
        .mypage__main__right__bottom__pay
          = link_to cards_path, class: "card__btn" do
            %p3 支払い方法について
            %i.fas.fa-chevron-right

    .mypage__main__left
      .mypage_main__left__top
        %ul
          %li 
            = link_to root_path, class:"mypage__bar" do
              %h3
                マイページ
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                お知らせ
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                やることリスト
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                いいね！一覧
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                出品
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                出品した商品-出品中
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                出品した商品-取引中
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                出品した商品-売却済み
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                購入した商品-取引中
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                購入した商品-取引中
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                評価一覧
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                ガイド
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                お問い合わせ
              %i.fas.fa-chevron-right

      .mypage__main__left__middle
        %ul
          %h5 メルペイ
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                売上・振込申請
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                ポイント
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                お問い合わせ
              %i.fas.fa-chevron-right
      
      .mypage__main__left__bottom
        %ul
          %h5 設定
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                プロフィール
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                発送元・お届け先住所変更
              %i.fas.fa-chevron-right
          %li 
            = link_to "/cards", class:"mypage_information" do
              %h3
                支払い方法
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                メール/パスワード
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                本人情報
              %i.fas.fa-chevron-right
          %li 
            = link_to root_path, class:"mypage_information" do
              %h3
                電話番号の確認
              %i.fas.fa-chevron-right
          %li 
            = link_to destroy_user_session_path, method: :delete do
              %h3 ログアウト
              %i.fas.fa-chevron-right

  .mypage__footer
    = render "shared/footer"

  = render "shared/camera"
  -# 出品ボタン部分テンプレート